table{
    border: 1px solid gray;
    box-shadow: 1px 1px 1px 1px gray;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    width: 500px;
    margin: 50px auto;
    background-color: aliceblue;
}


table tr:nth-last-of-type(odd){
    background-color: cadetblue;
    padding: 10px;
}

td{
    padding: 10px;
    text-align: left;
}

h1{
    text-align: center;
    color: darkblue;
    text-decoration: underline;
}
