<h1>Customer Information</h1>
<table>
  <tbody>
    <tr>
      <td>FirstName</td><td>{{customer.firstName}}</td>
    </tr>
    <tr>
        <td>MiddleName</td><td>{{customer.middleName}}</td>
      </tr>
      <tr>
          <td>LastName</td><td>{{customer.lastName}}</td>
        </tr>
        <tr>
            <td>Email</td><td>{{customer.email}}</td>
          </tr>
          <tr>
              <td>ContactNo:</td><td>{{customer.contactNo}}</td>
            </tr>
            <tr>
                <td>Street</td><td>{{customer.street}}</td>
              </tr>
              <tr>
                  <td>City</td><td>{{customer.city}}</td>
                </tr>
                <tr>
                    <td>Province</td><td>{{customer.province}}</td>
                  </tr>
                  <tr>
                      <td>ZIP</td><td>{{customer.zip}}</td>
                    </tr>
  </tbody>
</table>